<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.price.mapper.ChildMapper">
    <select id="selectChild" parameterType="int" resultType="Child">
        SELECT *
        FROM child
        WHERE user_no = #{parentNo}
        limit 1
    </select>

    <insert id="insertChild" parameterType="com.example.price.domain.Child">
        INSERT INTO child ( user_no
        , name
        , birth
        , gender
        , created_dt
        , created_by
        , update_dt
        , update_by
        ) values (
        #{user_no}
        , #{name}
        , #{birth}
        , #{gender}
        , #{created_dt}
        , #{created_by}
        , #{update_dt}
        , #{update_by}
        )
    </insert>
</mapper>